# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.txt

# Dependency directories
vendor/

# Go workspace file
go.work

# VS Code
.vscode/

# JetBrains
.idea/

# MacOS
.DS_Store

# Project specific binaries and build artifacts
dist/
bin/
*.zip
*.json
*.sha256
*.notarized.zip
